main {
    width: 30em;
    margin: 0 auto;
    position: relative;
}

#settings {
    position: absolute;
    top: 1em;
    right: 1em;
}

caption {
    font-weight: bold;
    font-size: 2em;
}

main.container-sm {
    max-width: 450px;
}

.hide {
    display: none;
}

.show {
    display: block;
}

#close {
    position: absolute;
    top: 0;
    right: 0;
}

#time {
    width: 5em;
}

@media (max-width: 360px) {
    main {
        width: 95vw;
    }

    #settings {
        top: 0em;
        right: 0em;
    }
}