ul {
    list-style-type: none;
}

fieldset {
    width: 20em;
    margin: 0 auto;
    padding: 2em;
}

legend {
    font-weight: bold;
}

.barra {
    background-color: blue;
    width: 0%;
    float: left;
    margin-right: 0.5em;
}